@page "/answerer"
@using ClassLibrary
@rendermode InteractiveServer

<PageTitle>Answerer</PageTitle>

<h1>Answerer</h1>

<p role="status">What's the meaning of Life, the Universe and Everything?</p>
<p role="status">@theAnswer</p>

<button class="btn btn-primary" @onclick="revealTruth">Click me</button>

@code {


  string theAnswer;


  void revealTruth() {
    theAnswer = QuestionResolver.Answer.ToString() + "!";
  }

}
